<nav class="bg-gray-700 text-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <div class="flex-shrink-0">
        {% if app.user %}
          <span class="text-sm sm:text-base">Bienvenue {{ app.user.firstname }} {{ app.user.lastname }}</span>
        {% endif %}
      </div>

      <div class="flex space-x-4">
        <a href="{{ path('app_home') }}" class="hover:bg-gray-900 px-3 py-2 rounded-md text-sm font-medium uppercase">Accueil</a>

        {% if app.user %}
          <a href="{{ path('app_logout') }}" class="hover:bg-gray-900 px-3 py-2 rounded-md text-sm font-medium uppercase">Logout</a>

          {% if 'ROLE_ADMIN' in app.user.roles %}
            <a href="{{ path('admin') }}" class="hover:bg-gray-900 px-3 py-2 rounded-md text-sm font-medium uppercase">Admin</a>
          {% endif %}
        {% else %}
          <a href="{{ path('app_login') }}" class="hover:bg-gray-900 px-3 py-2 rounded-md text-sm font-medium uppercase">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
