<nav class="bg-gray-700 text-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <div class="flex-shrink-0">
        {% if app.user %}
          <span class="text-sm sm:text-base">Bienvenue {{ app.user.firstname|capitalize }} {{ app.user.lastname|upper }}</span>
        {% endif %}
      </div>

      <div class="flex space-x-4">
        <a href="{{ path('app_home') }}" class="hover:bg-gray-900 px-3 py-2 rounded-md text-sm font-medium uppercase">Home</a>

        {% if app.user %}
          <a href="{{ path('app_logout') }}" class="hover:bg-gray-900 px-3 py-2 rounded-md text-sm font-medium uppercase">Logout</a>
          <a href="{{ path('proposed_language_new') }}" class="hover:bg-gray-900 px-3 py-2 rounded-md text-sm font-medium uppercase">Suggest a Language</a>

          {# technique (pour avoir un lien admin si l'user connecté est l'admin) qui fonctionne mais à ne pas faire : #}
          {# {% if 'ROLE_ADMIN' in app.user.roles %}
            <a href="{{ path('admin') }}" class="hover:bg-gray-900 px-3 py-2 rounded-md text-sm font-medium uppercase">Admin</a>
          {% endif %} #}

          {# technique recommandée (pour avoir un lien admin si l'user connecté est l'admin) #}
          {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin') }}" class="hover:bg-gray-900 px-3 py-2 rounded-md text-sm font-medium uppercase">Admin</a>
          {% endif %}
        {% else %}
          <a href="{{ path('app_login') }}" class="hover:bg-gray-900 px-3 py-2 rounded-md text-sm font-medium uppercase">Login</a>
          <a href="{{ path('app_register') }}" class="hover:bg-gray-900 px-3 py-2 rounded-md text-sm font-medium uppercase">Sign up</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
